*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: azure;
    background-image: url(abstract-wallpaper-technology-business-white-color-powerpoint-background_e4ef4da124__960_540.avif);
    background-size: cover;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    
}

.card{
    width: 250px;
    border-radius: 8px;
    /* border: 1px solid black; */
    margin: 20px;
    background: transparent;
    box-shadow: 2px 2px 8px gray;
    background: transparent;
    backdrop-filter: blur(10px);
    
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
     transition: all 0.5s ease;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    font-size: 15px;
    
}

.card:hover{
     transition: all 0.5s ease; 
    transform: rotateX(25deg); 
 } 

button{
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #FEF9F2;
}

button:hover{
    background-color: #789DBC;
    cursor: pointer;
}